<footer>
      <ul>
        <li><%= link_to 'Contact', root_path %></li>
        <li><%= link_to 'Conditions générales', root_path %></li>
        <li><%= link_to 'Plan du site', root_path %></li>
        <li><%= link_to "Infos sur l'entreprise", root_path %></li>
        <li><%= link_to 'Recrutement', root_path %></li>
      </ul>
    </footer>
