<header>
    <div class="header-container">
      <%# <h2>AtypicalnB.</h2> %>
      <a href="/"><img src="https://i.ibb.co/j8YzQyy/Test-logo-2.png" alt="Test-logo" width="350"></a>
    <ul class="">
      <li><%=  %><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Properties', properties_path %></li>
      <li><%= link_to 'My offers', owner_properties_path %></li>
      <%# root_path %>
      <% if current_user %>
        <li><%= link_to 'Profil', user_path(current_user) %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete} %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>




    </ul>
    </div>
</header>
