<header>
    <div class="header-container">
      <%# <h2>AtypicalnB.</h2> %>
      <a href="/"><img src="https://i.ibb.co/j8YzQyy/Test-logo-2.png" alt="Test-logo" width="350"></a>
    <ul class="">
      <li><%=  %><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Properties', root_path %></li>
      <li><%= link_to 'My offers', root_path %></li>
      <li><%= link_to 'Profil', root_path %></li>
        <li ><%= link_to 'Logout', root_path %></li>
      <% if current_user %>
        <li ><%= link_to 'Login', root_path %></li>
      <% else %>
      <% end %>
    </ul>
    </div>
</header>