<div class="container-profile">
  <div class="profile-presentation">
    <h2> Presentation</h2>
    <img src="app/assets/images/profile_current_user.jpg" alt="current_user">
    <div>
      <%= current_user.first_name %>
      <%= current_user.last_name %>
      <%= current_user.overview %>
    </div>
  </div>

  <div class="profile-contact">
    <h3>Contact</h3>
    <%= current_user.email %>
    <%= current_user.phone_number %>
  </div>

  <%= link_to "Update Profile" %>


<div class="My Properties">
  <h3>My Properties</h3>

<ol>
<% Property.where(user_id: current_user.id).each do |property| %>
  <li><%= property.name %></li>
  <% end %>
</ul>
</div>




<div class="My Bookings">
  <h3>My Bookings</h3>





</div>

<div>
  <% @revenue = 0 %>
  <% Property.where(user_id: current_user.id).each do |property| %>
    <% property.bookings.each do |booking| %>
      <% @revenue += booking.property.price_per_night * (booking.end_date-booking.start_date).to_i %>
    <% end %>
  <% end %>
  <h3>My revenue</h3>
  <p class="revenue">Total: <span id="revenue">+<%= @revenue %>€</span></p>

  <ul class="list-group list-group-flush w-75">
    <% Property.where(user_id: current_user.id).each do |property| %>
      <% property.bookings.each do |booking| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span><span class="text-secondary me-3"><%= booking.start_date.strftime("%b %d") %> - <%= booking.end_date.strftime("%b %d") %></span> <%= booking.user.first_name %> <%= booking.user.last_name %></span>
          <span class="badge bg-success rounded-pill">+<%= booking.property.price_per_night * (booking.end_date-booking.start_date).to_i %>€</span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<ul>
  <li class="position-relative">
    Profile
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </li>
</ul>
</div>
