<% @revenue = 0 %>
    <% Property.where(user_id: current_user.id).each do |property| %>
      <% property.bookings.each do |booking| %>
        <% @revenue += booking.property.price_per_night * (booking.end_date-booking.start_date).to_i %>
      <% end %>
    <% end %>

<div class="container-global">
  <div class="profile-div">
    <a href="<%= edit_user_path(current_user)%>" class="profile-edit-icon"><i class="fa-regular fa-pen-to-square fa-2xl"></i></a>
    <img src="https://res.cloudinary.com/dfuzqnyhu/image/upload/c_crop,h_565,w_565,x_0/v1686910297/samples/people/smiling-man.jpg" class="avatar-large-bordered">
    <p class="profile-name"><%= current_user.first_name %> <%= current_user.last_name %></p>
    <p class="profile-email"><%= current_user.email %></p>
    <ul class="profile-stat">
      <li>
        <p class="profile-stat-number"><%= current_user.bookings.count %></p>
        <p class="profile-stat-number-title">Booking(s)</p>
      </li>
      <li>
        <p class="profile-stat-number"><%= current_user.properties.count %></p>
        <p class="profile-stat-number-title">Propertie(s)</p>
      </li>
      <li>
        <p class="profile-stat-number"><%= @revenue %>€</p>
        <p class="profile-stat-number-title">Revenue</p>
      </li>
    </ul>
    <%# <p class="profile-overview"><%= current_user.overview %></p>
    <%# <%= link_to "Update Profile", edit_user_path(current_user), class: "home-offer-card-cta" %>

  </div>
</div>
