<% if current_user.owner_mode %>
    <div class="w-100 justify-content-center d-flex">
    <%= link_to "Add a property", new_property_path, class: "home-offer-card-cta" %>
    </div>
<% end %>

<% @properties.each do |property| %>
<div div class="home-offer-card">
    <%= cl_image_tag property.photos[0].key, class:"home-offer-card-img"%>
    <div class="home-offer-card-infos">
        <div class="home-offer-card-infos-left">
        <% if property.rating %>
            <p class="property-rating-stars">
                <% property.rating.times do %>
                    ★
                <% end %>
            </p>
        <% end %>
            <h3 class="home-offer-card-infos-name"><%= property.name %></h3>
            <p class="home-offer-card-infos-description"><%= truncate(property.overview, length: 100, omission: ' ') %><%= link_to ' ...', property_path(property), class: "sec-color" %></p>
        </div>
        <div class="home-offer-card-infos-right">
            <p class="home-offer-card-price"><strong><%= property.price_per_night %></strong>€ / Night</p>
            <%= link_to "Book now !", property_path(property), class: "home-offer-card-cta" %>
        </div>
    </div>
</div>
<% end %>

<div style="width: 100%; height: 600px;"
data-controller="map"
data-map-markers-value="<%= @markers.to_json %>"
data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

