    <%# ---------Unavailable Dates---------- %>
    <% array = [] %>
    <%@property.bookings.each do |booking|%>
    <% array << { %>
      <% from: booking.start_date, %>
      <% to: booking.end_date %>
    <% } %>
    <% end %>
    <%# ------------------------------------ %>

<div class="property-show-section back-plate">
  <div class="property-show-images" data-controller="property-show-images">
    <%= cl_image_tag @property.photos[0].key,width: 698, height: 400, crop: 'fill' , data: { property_show_images_target: "mainPhoto" } %>
    <div class="property-show-miniatures-container">
      <% @property.photos.limit(4).each do |photo| %>
        <%= cl_image_tag photo.key, data: { action: "click->property-show-images#updateMainPhoto", path: photo.key } %>
      <% end %>
    </div>
  </div>
  <div class="property-show-infos">
    <div class="property-show-details">
    <h2><%= @property.name %></h2>
    <% if @property.rating %>
      <p class="property-rating-stars">
        <% @property.rating.times do %>
          ★
        <% end %>
      </p>
    <% end %>
    <p><%= @property.overview %></p>
    <p><strong><%= @property.price_per_night %></strong>€ / Night</p>
  </div>
  <div class="property-show-book-part">
    <%= simple_form_for(@booking, url: property_bookings_path(@property)) do |f| %>
        <label class="sec-color new-booking-label" for="">Tell us when :</label>
        <input data-action="change->set-total-price#updatePrice" data-set-total-price-input class="new-booking-date-input" type="string" placeholder='Select your desired dates' data-controller="datepicker" data-datepicker-array-value= <%= array.to_json %>>
        <%= f.input :start_date,
                    as: :hidden,
                    input_html: { id: "start_date"} %>
        <%= f.input :end_date,
                    as: :hidden,
                    input_html: { id: "end_date" } %>
        <%= f.submit 'Book my dream', class: "new-booking-cta" %>
      <% end %>
  </div>
  </div>
</div>