<div class="container">
  <div class="">
    <div div class="home-offer-card ">
        <img src="https://i.ibb.co/JcJqyQM/image.png" alt="The villa picture" class="home-offer-card-img">
        <div class="home-offer-card-infos">
            <div class="home-offer-card-infos-left">
                <h3 class="home-offer-card-infos-name"><%= @property.name %></h3>
                <p class="home-offer-card-infos-description"><%= @property.overview %></p>
            </div>
            <div class="home-offer-card-infos-right">
                <p class="home-offer-card-price"><strong><%= @property.price_per_night %></strong> / Night</p>
                <a link_to, property_path class="home-offer-card-cta">Book now !</a>
            </div>
        </div>
    </div>

    <div>
      <%= simple_form_for(@booking, url: property_bookings_path(@property)) do |f| %>
        <%= f.input :start_date,
                    as: :string,
                    input_html: { placeholder: 'Start date', data: { alt_input: true, alt_format: "F j, Y", date_format: "Y-m-d", controller: "datepicker" } } %>
        <%= f.input :end_date,
                    as: :string,
                    input_html: { placeholder: 'End date', data: { minDate: "2023-06-23", alt_input: true, alt_format: "F j, Y", date_format: "Y-m-d",  controller: "datepicker" } } %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
