<footer>
      <ul>
        <li><%= link_to 'Support', root_path %></li>
        <li><%= link_to 'Terms', root_path %></li>
        <li><%= link_to 'Sitemap', root_path %></li>
        <li><%= link_to "Company's informations", root_path %></li>
        <li><%= link_to 'Jobs', root_path %></li>
      </ul>
    </footer>
