<div class="home-banner">
    <h2 class="home-banner-title">The best place to find your next life step.</h2>
    <p class="home-banner-description">Discover a world of luxurious getaways. Immerse yourself in exceptional rentals that will awaken your senses and ignite your wildest dreams.</p>
    <a href="" class="home-banner-cta">Find the place of your dream !</a>
</div>

<h2 class="w-100 text-center sec-color">Our best sellers.</h2>

<%# <% xxxxx.each do |xxx| %>

<%# THE SEVEN DIVS SHOULD BE REPLACED BY ONE DIV BETWEEN A EACH ITERATION %>

<div class="home-offer-card">
        <%= cl_image_tag("octopushouse") %>
        <div class="home-offer-card-infos">
            <div class="home-offer-card-infos-left">
                <h3 class="home-offer-card-infos-name">Ocotopus House</h3>
                <p class="home-offer-card-infos-description">Embrace the whimsical charm of the Octopus House, a uniquely designed venue that transports you to an underwater wonderland. With its vibrant colors and tentacle-inspired architecture, it offers an unforgettable setting for a truly extraordinary event.</p>
            </div>
            <div class="home-offer-card-infos-right">
                <p class="home-offer-card-price"><strong>$299</strong> / Night</p>
                <a href="" class="home-offer-card-cta">Book now !</a>
            </div>
        </div>
    </div>

    <div class="home-offer-card">
        <%= cl_image_tag("rockhouse") %>
        <div class="home-offer-card-infos">
            <div class="home-offer-card-infos-left">
                <h3 class="home-offer-card-infos-name">Rock house</h3>
                <p class="home-offer-card-infos-description">Rock the night away at the Rockhouse, a dynamic venue that amplifies your event’s energy. With its edgy atmosphere and state-of-the-art sound system, it’s the ultimate destination for music enthusiasts and unforgettable celebrations.</p>
            </div>
            <div class="home-offer-card-infos-right">
                <p class="home-offer-card-price"><strong>$299</strong> / Night</p>
                <a href="" class="home-offer-card-cta">Book now !</a>
            </div>
        </div>
    </div>

    <div class="home-offer-card">
        <%= cl_image_tag("helllakehouse") %>
        <div class="home-offer-card-infos">
            <div class="home-offer-card-infos-left">
                <h3 class="home-offer-card-infos-name">Hell Lake House</h3>
                <p class="home-offer-card-infos-description">Embark on a daring journey at Hell Lake House, a hauntingly beautiful venue shrouded in mystery. With its dark allure and stunning lakefront views, it sets the stage for an unforgettable event that embraces the allure of the unknown.</p>
            </div>
            <div class="home-offer-card-infos-right">
                <p class="home-offer-card-price"><strong>$299</strong> / Night</p>
                <a href="" class="home-offer-card-cta">Book now !</a>
            </div>
        </div>
    </div>

    <div class="home-offer-card">
        <%= cl_image_tag("upsidedownhouse") %>
        <div class="home-offer-card-infos">
            <div class="home-offer-card-infos-left">
                <h3 class="home-offer-card-infos-name">Upside Down house</h3>
                <p class="home-offer-card-infos-description">Turn your world upside down at the Upside Down House, a whimsical venue that defies gravity. Step into a surreal experience where floors become ceilings, and everything is delightfully topsy-turvy, creating a unique backdrop for an unforgettable event.</p>
            </div>
            <div class="home-offer-card-infos-right">
                <p class="home-offer-card-price"><strong>$299</strong> / Night</p>
                <a href="" class="home-offer-card-cta">Book now !</a>
            </div>
        </div>
    </div>

        <div class="home-offer-card">
        <%= cl_image_tag("firehouse") %>
        <div class="home-offer-card-infos">
            <div class="home-offer-card-infos-left">
                <h3 class="home-offer-card-infos-name">Fire house</h3>
                <p class="home-offer-card-infos-description">Ignite your event at the Firehouse, where historic charm meets modern allure. Experience a captivating venue boasting exposed brick walls, high ceilings, and firefighting memorabilia, perfect for any occasion.</p>
            </div>
            <div class="home-offer-card-infos-right">
                <p class="home-offer-card-price"><strong>$299</strong> / Night</p>
                <a href="" class="home-offer-card-cta">Book now !</a>
            </div>
        </div>
    </div>

    <div class="home-offer-card">
        <%= cl_image_tag("icehouse") %>
        <div class="home-offer-card-infos">
            <div class="home-offer-card-infos-left">
                <h3 class="home-offer-card-infos-name">Ice house</h3>
                <p class="home-offer-card-infos-description">Chill out in style at the Icehouse, an icy haven for unforgettable events. With its sleek architecture and frosty ambiance, it’s the perfect venue to cool down and create lasting memories.</p>
            </div>
            <div class="home-offer-card-infos-right">
                <p class="home-offer-card-price"><strong>$299</strong> / Night</p>
                <a href="" class="home-offer-card-cta">Book now !</a>
            </div>
        </div>
    </div>

    <div class="home-offer-card">
        <%= cl_image_tag("sandhouse") %>
        <div class="home-offer-card-infos">
        <div class="home-offer-card-infos-left">
            <h3 class="home-offer-card-infos-name">Sand house</h3>
            <p class="home-offer-card-infos-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint praesentium commodi voluptates nam ab voluptas dolorem! Quam deleniti atque doloribus.</p>
        </div>
        <div class="home-offer-card-infos-right">
            <p class="home-offer-card-price"><strong>$299</strong> / Night</p>
            <a href="" class="home-offer-card-cta">Book now !</a>
        </div>
      </div>
    </div>

<%# <% end %>
