<div class="home-banner">
    <h2 class="home-banner-title">The best place to find your next <em class="thi-color">
        <span data-controller="typed" data-typed-sentences-value="">
        </span>
    </em></h2>
    <p class="home-banner-description">Discover a world of luxurious getaways. Immerse yourself in exceptional rentals that will awaken your senses and ignite your wildest dreams.</p>
    <a href="" class="home-banner-cta">Find the place of your dream !</a>
</div>

<div class="back-plate">
<h2 class="w-100 text-center sec-color sec-color pt-2">Our most valued Experiences</h2>
<% @properties.each do |property| %>

<div class="home-offer-card">
    <%= cl_image_tag property.photos[0].key, class:"home-offer-card-img"%>
        <div class="home-offer-card-infos">
            <div class="home-offer-card-infos-left">
                <% if property.rating %>
                <p class="property-rating-stars">
                <% property.rating.times do %>
                    ★
                <% end %>
                </p>
                <% end %>
                <h3 class="home-offer-card-infos-name"><%= property.name %></h3>
                <% if current_user&.owner_mode %>
                    <p class="home-offer-card-infos-description"><%= truncate(property.overview, length: 100, omission: ' ...') %></p>
                <% else %>
                    <p class="home-offer-card-infos-description"><%= truncate(property.overview, length: 100, omission: ' ') %><%= link_to ' ...', property_path(property), class: "sec-color" %></p>
                <% end %>
            </div>
            <div class="home-offer-card-infos-right">
                <p class="home-offer-card-price"><strong><%= property.price_per_night %>€</strong> / Night</p>
                <%= link_to 'Book Now', property_path(property), class: "home-offer-card-cta" %>
            </div>
        </div>
    </div>
<% end %>
</div>
