<%= link_to "Add a new property", new_property_path, class: "home-offer-card-cta-owner bouton-add-new-fixe"  %>


<div class="back-plate">
<% @properties.each do |property| %>
<div div class="home-offer-card">
    <%= cl_image_tag property.photos[0].key, class:"home-offer-card-img"%>
    <div class="home-offer-card-infos">
        <div class="home-offer-card-infos-left">
        <% if property.rating %>
                <p class="property-rating-stars">
                <% property.rating.times do %>
                    ★
                <% end %>
                </p>
                <% end %> 
            <h3 class="home-offer-card-infos-name"><%= property.name %></h3>
            <p class="home-offer-card-infos-description"><%= truncate(property.overview, length: 100, omission: ' ...') %></p>
        </div>
        <div class="home-offer-card-infos-right">
            <p class="home-offer-card-price"><strong><%= property.price_per_night %></strong>€ / Night</p>
            <%= link_to "Edit", edit_owner_property_path(property), class: "home-offer-card-cta-owner" %>
        </div>
    </div>
</div>
<% end %>
</div>