<!DOCTYPE html>
<html>
  <head>
    <title>AtypicalnB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <h1>AtypicalNB.</h1>
    <ul class="navbar-menu">
      <li class="navbar-menu-item">Home</li>
      <li class="navbar-menu-item">Proprietés</li>
      <li class="navbar-menu-item">Mes offres</li>
      <li class="navbar-menu-item">Profil</li>
    </ul>
  </header>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
