<!DOCTYPE html>
<html>
  <head>
    <title>AtypicalnB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'partials/header' %>
    <%= render "shared/flashes" %>
    <div class="yield-container">
    <%= yield %>
    </div>
    <%= render 'partials/footer' %>
  </body>
</html>
